@media screen and (max-width:400px){
    .header-v1 .item-v1 ol li img{
       display: none;
     }
     .header-v1 .item-v1 ol li{
        display:block;
     }

 }

.header-v1{
    direction: rtl;
    background-color: #ffffff;
    position: fixed;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    font-size: 14px;
    color: #2D2D2D;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 6px -6px #7fad39;
    padding-top: 20px;
    font-weight: 600;

}

.header-v1 .item-v1 ol li{
    display: inline-block;

 }

 .header-v1 .item-v1 ol li img{
    width: 20%;
    background-color: #f8f7f7;
    overflow: hidden;
    border-radius: 50%;
    padding: 10px;
    border: black solid 1px;
 }
 .header-v1 .item-v1 ol li h1{
     font-size: 35px;
     font-weight: 600;
 }

.header-v1 .item-2-v1{
    float: right;
 }

 .header-v1 .item-2-v1 ol li{
    display: inline-block;
    margin: 10px;
 }
.header-v1 .item-2-v1 ol li a{
color: #2D2D2D;
}

 .header-v1 .item-2-v1 ol li:hover{
    cursor: pointer;
    transition: all 1s, height 2s;
 }
 .header-v1 .item-2-v1 ol li a:hover{
    /* color: #7fad39; */
    /* margin: 2px; */
    /* font-weight: 700; */
    color: #7fad39;
 }

 .header-v1 .item-3-v1 ol li{
    display: inline-block;
    margin: 5px;
    color: #2D2D2D;
 }
.cart{
    background-color: #fff;
    color: #7fad39;
}
.cart:hover{
    color: #080808;
    background-color:none;
    /* font-size: 15px; */
    transition: all 1s, height 2s;
}
 .btn-login{
background-color: #fff;
padding: 10px;
border: 0;
width: 100px;
border: #7fad39 solid 1px;
 }
 .btn-login a{
    color: #7fad39;
}


 .btn-logout{
     background-color:rgb(185, 17, 17);
     color: #fff;
     padding: 10px;
     border-radius: 10px;
     border: 0;
     width: 35px;

 }

.btn-logout a{
    color: #fff;
}



.hero{
    direction: rtl;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 40px;
}

.hero .hero__search__form {float: right;}


ul, ol { direction: rtl;}

.featured .row {direction: rtl;}

.spad .featured__controls ul li a{
    color: #7fad39;
    font-weight: 900;
    margin: 20px;

}
.blog__item {
background-color: #F3F6FA;
border-bottom: solid 4px #7fad39;
min-height: 150px;
}
.blog__item:hover{
border-bottom: solid 4px #000;
cursor: pointer;
transition: all 0.2s 0.2s;
}

.blog__item__text{
    border: none;
}

/* cat-product */
.cat-product {
    padding-top: 40px;
    padding-bottom: 40px;
    direction: rtl;
    text-align: right;
}
.cat-product .dad-product{
    margin-top: 20px;
    padding: 20px;
}
.cat-product .dad-product h3{
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}
.cat-product .dad-product p{
    color: #7FAD39;
    margin-top: 10px;
    font-weight: 800;
    background: #fff;
    border: black solid 1px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
}
.cat-product .dad-product .action-product ul li{
    display: inline-block;

}
.cat-product .dad-product .action-product ul li a{
    color: #080808;
    direction: rtl;
    padding: 5px;
}
/* end cat-product */
.breadcrumb__text h2{
    color: #080808;
}


.breadcrumb__option{
    direction: rtl;
    margin-top: 20px;
}

.breadcrumb__option a,
.breadcrumb__option span
{
  color: #080808;
  font-weight: 500;

}

.shop-top{
    margin-top: 100px;
}
.shop-product{
    padding-top: 40px;
    padding-bottom: 40px;
}
.list-product{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: right;
}
.list-product ol li {
margin: 10px;
}
.shop-product h2{
text-align: right;
}
.shop-top .breadcrumb{
    background-color: #F5F5F5;
}
.shop-top .breadcrumb .breadcrumb-item a{
    color: #545454;
    font-size: 18px;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    font-weight: 900;
}
.product{
    text-align: right;
    margin: 5px;
}
.product h3 a{
    color: #2D2D2D;
    margin-top: 10px;
    font-size: 18px;
}
.product span{
    color: #919191;
}
footer{
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #F3F6FA;
    direction: rtl;
}
.last-text p
{
    color: rgb(58, 58, 58);
    text-emphasis: right;
}
.all-product{
 margin-left: 500px;
}

.hero__search__form {
    float: right;
}
.hero__search__form form input {
    text-align: right;
}
/* send_email_form */
.send_email_form{
    margin-top: 10%;
}
.category_a{
    color: #7a7a7a;
    font-size: 18px;
    font-weight: 500;
}
.category_a :hover{
    color: #7a7a7a;
    font-size: 18px;
    font-weight: 500;
}
.category_li :hover{
    color: #7fad39;
    /* margin: 2px; */
    cursor: pointer;
    /* font-weight: 600; */
    transition: all .5s, height .3s;
}

/* style auth user pages */
.card-header {
    background-color: #7FAD39;
    text-align: right;
    color: #fff;
}
.card-body{
    direction: rtl;
    text-align: right;
}

/*page order*/

.order-tbl table{
    direction: rtl;
    text-align: right;
}
.btn-add-fav{
    background-color: #fff;
    border: #fff;
}


/* shop=product */
.shop-product{
    direction: rtl;
}
.shop-product .category-list ol {
    text-align: right;
}
.shop-product .category-list ol li {
    display: inline-block;
    margin: 10px;
}
.shop-product .card-shop-product{
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 40%);*/
    /*margin: 10px;*/
    padding: 10px;
    direction: rtl;
    margin-top: 20%;
    /* border-bottom: #000 solid 1px; */
}
.shop-product .card-shop-product img{
    width: 100%;
}
.shop-product .card-shop-product img:hover{
    transform: scale(1.2);
    transition: all .5s .5s;
    cursor: grab;

}
.shop-product .data-product{
    margin-top: 10%;
    text-align: right;
}

.shop-product .card-shop-product .data-product ol{
    display: inline-block;
}
.shop-product .card-shop-product .data-product ol li a{
    font-size: 15px;
    color: #999;
    line-height: 1.4;
    text-decoration: none;
}
.shop-product .card-shop-product .data-product ol li a:hover{
    color: #7FAD39;
}
/*.shop-product .card-shop-product span{*/
/*    font-size: 14px;*/
/*    color: #666;*/
/*    line-height: 1.4;*/
/*    letter-spacing: 1px;*/
/*}*/

.shop-product .card-shop-product a{
    float: left;
    color: #999;
}
.shop-product .card-shop-product a:hover{
    color: #7FAD39;
}

/* who_are_we */

.who_are_we{
    text-align: right;
    margin-top: 10%;
}

/* who_are_we */



/* favorite style  */
.favorite-product{
padding-top: 40px;
padding-bottom: 40px;
background-color: #F2F3F5;
}
.favorite-product h2{
    text-transform: uppercase;
}
.favorite-product .body-favorite{
    background-color: #fff;
    border: #545454 solid 1px;
    padding: 20px;
    margin-bottom: 20px;
}
.favorite-product .body-favorite a{
   color: red;
}


/* end favorite style  */


/* start page login user */
body{
}
.body-lgoin-page{
background-color: #007bff;
min-height: 70vh;
border-radius: 10px 0px 0px 10px;
}
.body-lgoin-page .text-body{
padding: 80px;

}
.body-lgoin-page .text-body h4{
color: #fff;
font-weight: 600;
}
.body-lgoin-page .text-body p{
margin-top: 20px;
color: #fff;
font-weight: 400;
}
.form-login-user{
margin: auto;
width: 60%;
border: 2px solid #FFFF00;
padding: 10px;
background-color: #eee;
}
.form-login .form-control{
border: 0;
border-bottom: 1px solid #ced4da;
border-radius: 0;
width: 70%;
}
.form-login button{
background-color: #007bff;
border-radius: 0%;
padding: 5px 40px 5px 40px;
}
/* end login user */

/* SHOP PRODUCTS */
.card-product{
    padding: 10px;
}
.card-product img{
    float: right;
}
.card-product .body-product{
    float: right;
    margin-right: 10px;

}


/* END SHOP PRODUCT */
